*{
    font-family: 'Manrope', sans-serif;
}
.th-client{
    position: relative;
}
.th-img{
    position: absolute;
    top: -24px;
    left: -30px;
    border: 4px solid #fff;
    border-radius: 50%;
}